.auth-container-body__title {
    display: inline;
    padding-bottom: 1rem;
    width: 20rem;

    @include media-lg {
        width: 27rem;
    }

    &__text {
        color: #FFFFFF;
        font-family: 'Silkscreen',
            sans-serif;
        font-size: 2.25rem;
        font-weight: 700;
        letter-spacing: -0.33px;
        line-height: 50px;

        @include media-lg {
            font-size: 3.125rem;
            width: 27rem;
        }

        span {
            color: red;
            font-size: 2.25rem;

            @include media-lg {
                font-size: 3.125rem;
                width: 27rem;
            }
        }

    }
}