.tweet {
    align-items: flex-start;
    border-bottom: 2px solid #60265B;
    display: flex;
    height: 208px;
    width: 100%;


    &__user-img {
        padding-left: 1rem;
        padding-top: 1.2rem;

        .avatar-photo {
            border-radius: 50%;
            height: 4rem;
            width: 4rem;
        }
    }

    &__information {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1.2rem;
        padding-top: 1.2rem;
        position: relative;
        width: 100%;

        .tweet-author {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 100%;

            &__headline {
                display: flex;

                &>div {
                    align-items: center;
                    display: flex;

                    >p {
                        line-height: 1rem;
                        letter-spacing: -0.33px;
                        font-family: 'Silkscreen',
                            sans-serif;
                        font-size: 1rem;
                        font-weight: 700;
                    }
                }


                >span {
                    color: #FFFFFF;
                    font-family: 'Fira Code',
                        monospace;
                    padding-left: 10px;
                }

                .author {

                    &__red {
                        background-color: #F50D5A;
                    }

                    &__orange {
                        background-color: #FF865C;
                    }

                    &__yellow {
                        background-color: #FFEA5C;
                    }

                    &__green {
                        background-color: #00DA76;
                    }

                    &__light-blue {
                        background-color: #0096CE;
                    }

                    &__purple {
                        background-color: #800FFF;
                    }
                }
            }

            &__delete-action {
                align-items: center;
                cursor: pointer;
                display: flex;

                .trash-can {
                    height: 18px;
                    transition: all .2s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }


        .text {
            color: #FFFFFF;
            display: flex;
            font-family: 'Fira Code',
                monospace;
            font-size: 0.875rem;
            font-weight: 450;
            letter-spacing: -0.33px;
            line-height: 1.125rem;
            max-width: 100%;
            text-align: start;
            padding-top: 0.8rem;
        }

        .like-icon {
            bottom: 10px;
            display: flex;
            padding-top: 1.2rem;
            position: absolute;

            &__img {
                padding-right: 0.5rem;
                transition: all .2s ease-in-out;
                cursor: pointer;


                &:hover {
                    transform: scale(1.1);
                }
            }


            &__red-counter {
                color: #F50D5A;
            }

            &__white-counter {
                color: #FFFFFF;
            }
        }

    }
}