.auth-container-body__body {
    padding-bottom: 1.5rem;
    width: 20rem;

    @include media-lg {
        width: 27rem;
    }

    &__text {
        font-weight: 450;
        font-size: 1.125rem;
        line-height: 24px;
        letter-spacing: -0.33px;
        color: #FFFFFF;
        font-family: 'Fira Code',
            monospace;


        @include media-lg {
            font-size: 1.5rem;
            line-height: 31px;
            width: 27rem;
        }
    }

    .body-input {
        padding-bottom: 1rem;

        input {
            background-color: #150714;
            border-width: 1px;
            color: #914D8B;
            height: 3rem;
            width: 100%;
            font-size: 1rem;
            padding-left: 14px;

            &::placeholder {
                color: #914D8B;
            }

            @include media-lg {
                font-size: 1.5rem;
            }
        }

        &__loading-input {
            width: 100%;
            height: 2rem;
            background-color: #914D8B;
            color: #914D8B;
            animation: divFlashing 0.4s infinite linear alternate;
            animation-delay: .2s;
        }
    }

    .body__color-picker {
        .color-picker__title {
            font-family: 'Fira Code',
                monospace;
            color: #FFFFFF;
            font-weight: 400;
            font-size: 0.9rem;
            padding-bottom: 1rem;


            @include media-lg {
                font-size: 1.5rem;
            }
        }

        .color-picker__selector {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 2.5rem;

            @include media-lg {
                height: 4rem;

            }

            &__color {
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: content-box;
                box-shadow: 1px 1px 3px 1px #868686;
                height: 2rem;
                width: 2rem;

                @include media-lg {
                    height: 3.625rem;
                    width: 3.625rem;

                }

                &:hover {
                    border: 2px solid #FFFFFF;
                    transition: border-width 0.1s linear;
                    height: 2.2rem;
                    width: 2.2rem;
                    transition: width 0.1s,
                        height 0.1s;


                    @include media-lg {
                        height: 3.825rem;
                        width: 3.825rem;

                    }
                }

                &.red {
                    background: #F50D5A;
                }

                &.orange {
                    background: #FF865C;
                }

                &.yellow {
                    background-color: #FFEA5C;
                }

                &.green {
                    background: #00DA76;
                }

                &.light-blue {
                    background: #0096CE;
                }

                &.purple {
                    background: #800FFF;
                }
            }

            &__loading {
                height: 2.2rem;
                width: 2.2rem;
                background-color: #914D8B;
                color: #914D8B;
                animation: divFlashing 0.4s infinite linear alternate;
                animation-delay: .2s;
            }

            .selected {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;

                &:before,
                &:after {
                    position: absolute;
                    content: '';
                    width: 2rem;
                    height: 2px;
                    /* cross thickness */
                    background: #FFFFFF;
                    box-shadow: 1px 1px 3px 1px #868686;


                    @include media-lg {                    
                        width: 3rem;
                        height: 3px;
                    }
                }

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}