@import './ProfileFeed/Header/_header';
@import './ProfileFeed/Body/_body';
@import './MainFeed/Header/_header';
@import './MainFeed/Body/_body';
@import './TweetContainer/_tweetcontainer';

.loading-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

}

.header {
    background-color: #250C23;
    display: flex;
    height: 3rem;
    justify-content: center;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
}