@import './ProfileFeed/Header/_header';
@import './ProfileFeed/Body/_body';
@import './MainFeed/Header/_header';
@import './MainFeed/Body/_body';
@import './TweetContainer/_tweetcontainer';

.loading-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #250C23;
    height: 3rem;

}