.nav-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;

    &__avatar {
        padding-left: 1rem;

        &>img {
            border-radius: 50%;
            width: 2.06rem;
        }

        &__red {
            border: 2px solid #F50D5A;
        }

        &__orange {
            border: 2px solid #FF865C;
        }

        &__yellow {
            border: 2px solid #FFEA5C;
        }

        &__green {
            border: 2px solid #00DA76;
        }

        &__light-blue {
            border: 2px solid #0096CE;
        }

        &__purple {
            border: 2px solid #800FFF;
        }
    }

    &__logo {
        padding-right: 1rem;
        display: flex;

        .logo {
            width: 2.8rem;
        }

        .title {
            width: 9.9rem;
        }
    }

}