@import './LoginSections/BodySection/bodysection';
@import './LoginSections/BottomSection/_bottomsection';
@import './LoginSections/TitleSection/_titlesection';




.login-container {
    @include media-lg {
        flex-direction: row;
    }

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
    width: 100vw;

    .logo-container {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        width: 50%;

        @include media-lg {
            position: relative;
            top: 0;
        }


        &__logo-mobile {
            height: 120px;
            width: 180px;
        }

        &__logo-desktop {
            height: 120px;
            width: 180px;
        }

        &__title {
            height: 25px;
            margin-top: 20px;
            width: 270px;
        }

    }

    .auth-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        bottom: 4rem;
        width: 50%;

        @include media-lg {
            position: relative;
            bottom: 0;
        }

        &__body {
            width: 20rem;
            display: flex;
            flex-direction: column;
            padding-bottom: 2rem;
        }

        &__footer {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Fira Code',
                monospace;
            color: #60265B;
            width: 100%;

            span {
                color: red;
            }
        }
    }


}

@keyframes divFlashing {
    0% {
        background-color: #914D8B;
    }

    50%,
    100% {
        background-color: #b195ae;
    }
}