@import './TweetForm/TweetForm';

.tweet-body-container {
    width: 100%;

    &>div {
        overflow: hidden;
    }

    @include media-lg {
        display: flex;
        flex-direction: column;
    }

    &__form{
        background-color: #150714;
        border-bottom: 2px solid #60265B;
    }
}