@import './ProfileContainer/_ProfileContainer';
@import './ProfileTweetContainer/_ProfileTweetContainer';

.profile-body-container {
    width: 100%;

    .loading-components {
        align-items: center;
        display: flex;
        height: 10rem;
        justify-content: center;
    }
}