.tweet-form-container {
    background-color: #150714;
    border-bottom: 2px solid #60265B;
    display: flex;
    padding: 20px 16px 12px 16px;

    @include media-lg {
        margin: auto;
        width: 42%;
    }

    &__avatar {
        padding-right: 12px;

        &__img {
            border-radius: 50%;
            width: 4rem;
        }
    }

    &__input {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 100%;

        &__text-area {
            display: flex;
            flex-direction: column;
            width: 100%;

            &>textarea {
                background-color: #2F112D;
                border-width: 0px;
                color: #914D8B;
                font-family: 'Fira Code',
                monospace;
                font-size: 1rem;
                height: 150px;
                padding-left: 7px;
                padding-right: 7px;
                padding-top: 6px;
                resize: none;
                width: 100%;

                &::placeholder {
                    color: #914D8B;
                }

            }

            .max-input-available-bar {
                background-color: #00DA76;
                height: 3px;
                width: 10%;
            }

            .text-area-information {
                display: flex;
                justify-content: space-around;
                padding: 6px 0;

                &__length {
                    color: #FFFFFF;
                }

                &__available-text {
                    color: #F50D5A;
                    font-family: 'Fira Code',
                        monospace;
                    text-align: right;
                    width: 100%;
                }
            }
        }

        &__submit-button {
            box-sizing: content-box;
            height: 35px;
            padding-top: 14px;
            width: 102px;

            &__btn {
                background-color: #2F112D;
                font-family: 'Silkscreen',
                    sans-serif;
                font-size: 1.25rem;
                font-weight: 700;
                height: 100%;
                letter-spacing: -0.33px;
                line-height: 1.25rem;
                transition: all .1s ease-in-out;
                width: 100%;
            }
        }
    }
}